*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: sans-serif;
  line-height: 1.4;
  background-color: #fff;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.vc_row.vc_row-fluid {
  margin-left: 0 !important;
  margin-right: 0 !important;
}